.App{
  display: flex;
}

.emptyDiv{
  border: 1px solid rgb(129, 124, 124);
  width: 500px;
  height: 500px;
  margin: 20px ;
  margin-top: 40px;
  border-radius: 10px;
}

.circleDiv{
  margin: 0px 20px 20px 90px;
}

.circle{
  border: 1px solid silver;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.btnDiv{
  border: 1px solid rgb(129, 124, 124);
  width: 500px;
  height: 500px;
  margin: 20px ;
  margin-top: 40px;
  margin-left: 200px;
  border-radius: 10px;
}

h4{
  text-align: center;
}

input{
  width: 60%;
  height: 50px;
  margin: 20px 20px 10px 100px;
  border-radius: 10px;
  border: 1px solid silver;
}

button{
  width: 60%;
  height: 50px;
  margin: 20px 20px 10px 100px;
  border-radius: 10px;
  border: 1px solid silver;
}